// 自定义一些常用动画

/* 旋转动画 */

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ss-animation-rotate {
    animation: rotate 1s linear infinite;
    display: inline-block;
}